<a href="https://colab.research.google.com/github/jisu0602/study/blob/master/hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
for n in range(5):
  print("*"*(n+1))

*
**
***
****
*****

In [0]:
for n in range(5):
  print("{:>5}".format("*"*(n+1)))

    *
   **
  ***
 ****
*****

{:<5} 왼쪽 정렬

{:>5} 오른쪽 정렬

{:^5} 가운데 정렬

In [0]:
for n in range(5):
  print("{:^10}".format("*"*(n+(n+1))))

    *
   ***
  *****
 *******
*********

1=(0+1)

3=(1+2)

5=(2+3)

7=(3+4)

9=(4+5)

...=n+(n+1)

In [0]:
for n in range(5, 0, -1):
  print("{:^10}".format("*"*((n*2)-1)))

*********
 *******
  *****
   ***
    *

9=((5*2)-1)

7=((4*2)-1)

5=((3*2)-1)

3=((2*2)-1)

1=((1*2)-1)

...=((n*2)-1)

In [0]:
for n in range(3):
    print("{:^5}".format("*"*(n+(n+1))))

for n in range(2, 0, -1):
    print("{:^5}".format("*"*((n*2)-1)))

  *
 ***
*****
 ***
  *

1=(0+1)

3=(1+2)

5=(2+3)

...=(n+(n+1))

3=(2*2)-1

1=(1*n)-1

...=(n*2)-1