<a href="https://colab.research.google.com/github/jisu0602/study/blob/master/ch5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def print_n_times(n, *values):  #*values는 가변 매개변수
  for i in range(n):
    for value in values:
      print(value)
    print()

print_n_times(3, "안녕", "즐거운", "파이썬 공부;-;")

안녕
즐거운
파이썬 공부;-;

안녕
즐거운
파이썬 공부;-;

안녕
즐거운
파이썬 공부;-;

In [0]:
def print_n_times(*values, n=2):
  for i in range(n):
    for value in values:
      print(value)
    print()

print_n_times("안녕", "즐거운", "파이썬 공부;-;", n=3)  #키워드 매개변수 활용

안녕
즐거운
파이썬 공부;-;

안녕
즐거운
파이썬 공부;-;

안녕
즐거운
파이썬 공부;-;

In [0]:
def sum_all(start=0, end=100, step=1):
  output=0
  for i in range(start, end+1, step):
    output += i

  return output

print("A.", sum_all(0, 100, 10))
print("B.", sum_all(end=100))
print("C.", sum_all(end=100, step=2))

A. 550
B. 5050
C. 2550

In [0]:
#확인문제 2.
def mul(*values):
  output = 1
  for i in values:
    output *= i
    
  return output

print(mul(5,7,9,10))

3150

In [0]:
#반복문으로 팩토리얼 구하기
def factorial(n):
  output = 1
  for i in range(1, n+1):
    output *= i

  return output

print("5!:", factorial(5))

5!: 120

In [0]:
#재귀 함수로 팩토리얼 구하기
def factorial(n):
  if n == 0:
    return 1
  else:
    return n*factorial(n-1)

print("5!:", factorial(5))

5!: 120

In [0]:
#재귀 함수로 피보나치 수열 구현하기1
def fibonacci(n):
  if n == 1:
    return 1
  if n == 2:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)
  
print(fibonacci(5))

9227465

In [0]:
#재귀 함수로 피보나치 수열 구현하기2
counter = 0

def fibonacci(n):
  print("fibonacci({})를 구합니다.".format(n))
  global counter  #파이썬에서는 함수 내부에서 함수 외부에 있는 변수를 참조하지 못해서 global 키워드를 사용함
  counter += 1

  if n == 1:
    return 1
  if n == 2:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)

fibonacci(5)
print("---")
print("fibonacci(5)에 계산에 활용된 덧셈 횟수는 {}번입니다.".format(counter))

fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
---
fibonacci(5)에 계산에 활용된 덧셈 횟수는 9번입니다.

In [0]:
#메모화를 사용해 피보나치 수열 구하기
dictionary = {
    1: 1,
    2: 2
}

def fibonacci(n):
  if n in dictionary:
    return dictionary[n]
  else:
    output = fibonacci(n-1)+fibonacci(n-2)
    dictionary[n] = output
    return output
  
print(fibonacci(5))

8

In [0]:
#확인문제 1.
def flatten(data):
  output = []
  for i in data:
    if type(i) == list:
      output += flatten(i)
  else:
    output.append(i)  #리스트 뒤에 추가
  return output

example = [[1,2,3],[4,[5,6]],7,[8,9]]
print("원본:", example)
print("변환:", flatten(example))

원본: [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환: [3, 6, [5, 6], 9, [8, 9]]

In [0]:
#확인문제 2. ***
sitmin = 2
sitmax = 10
total = 100
memo = {}

def solution(restpeople, sitpeople):
  key = str([restpeople, sitpeople])
  #종료 조건
  if key in memo:
    return memo[key]
  if restpeople < 0:
    return 0
  if restpeople == 0:
    return 1
  #재귀 처리
  count = 0
  for i in range(sitpeople, sitmax +1):
    count += solution(restpeople-i, i)
  #메모화 처리
  memo[key] = count
  #종료
  return count

print(solution(total, sitmin))

437420

In [0]:
#튜플: 리스트와 비슷한 자료형으로 한번 결정된 요소는 바꿀 수 없음
for i, value in enumerate([1,2,3,4,5,6]): #i, value가 (i, value)인 튜플임
  print("{}번째 요소는 {}입니다.".format(i, value))

#람다: 함수를 간단하고 쉽게 선언하는 방법
#map(함수, 리스트): 리스트의 요소를 함수에 넣고 리턴된 값으로 새로운 리스트를 구성해주는 함수
#filter(함수, 리스트): 리스트의 요소를 함수에 넣고 리턴된 값이 True인 것으로 새로운 리스트를 구성해주는 함수
list_input_a = [1,2,3,4,5]

output_a = map(lambda x: x * x, list_input_a)
print("#map() 함수 실행 결과")
print("map(power, list_input_a):", output_a)
print("map(power, list_input_a):", list(output_a))
print()

output_b = filter(lambda x: x < 3, list_input_a)
print("#filter() 함수 실행 결과")
print("filter(under_3, list_input_a):", output_b)
print("filter(under_3, list_input_a):", list(output_b))

0번째 요소는 1입니다.
1번째 요소는 2입니다.
2번째 요소는 3입니다.
3번째 요소는 4입니다.
4번째 요소는 5입니다.
5번째 요소는 6입니다.
#map() 함수 실행 결과
map(power, list_input_a): <map object at 0x7f4ee835bf60>
map(power, list_input_a): [1, 4, 9, 16, 25]

#filter() 함수 실행 결과
filter(under_3, list_input_a): <filter object at 0x7f4ee8bd27f0>
filter(under_3, list_input_a): [1, 2]

In [0]:
#파일 처리
with open("basic.txt", "w") as file:
  file.write("파이썬 공부하기~")

with open("basic.txt", "r") as file:
  contents = file.read()
print(contents)

파이썬 공부하기~

In [0]:
#확인문제 1.
numbers = [1, 2, 3, 4, 5, 6]

print("::".join(str(numbers))) #이건 다르넹..***
print("::".join(map(str, numbers)))

[::1::,:: ::2::,:: ::3::,:: ::4::,:: ::5::,:: ::6::]
1::2::3::4::5::6

In [0]:
#확인문제 2. 
numbers = list(range(1, 10 +1))

print("#홀수만 추출하기")
print(list(filter(lambda x: x%2==1, numbers)))
print()

print("#3 이상, 7 미만 추출하기")
print(list(filter(lambda x: 3<=x<7, numbers)))
print()

print("#제곱해서 50 미만 추출하기")
print(list(filter(lambda x: x*x < 50, numbers)))
print()

#홀수만 추출하기
[1, 3, 5, 7, 9]

#3 이상, 7 미만 추출하기
[3, 4, 5, 6]

#제곱해서 50 미만 추출하기
[1, 2, 3, 4, 5, 6, 7]